/* Cards */
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 1.5rem;
    padding: 2rem;
    position: relative;
    opacity: 0;
}

/* Individual card */
.cards .card {
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 2px 8px black;
    min-height: 300px;
    width: 300px;
}

/* Section heading */
.cards .card h3 {
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem;
    font-weight: 400;
}


.cards .card:nth-child(1) .card-body h4 {
    color: rgba(0, 0, 0, 0.575);
}

.cards .card:nth-child(2) .card-body h4 {
    color: rgba(0, 0, 0, 0.75);
}


/* Card top */
.cards .card .card-top {
    background-color: rgba(98, 225, 235, 0.63);
}


/* Card body */
.cards .card .card-body {
    display: flex;
    justify-content: center;
    min-height: 12rem;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.cards .card .card-body {
    display: flex;
    justify-content: space-around;
}

.cards .card .card-body ul li {
    list-style-type: none;
    font-weight: 300;
}

.cards .card .card-body h4 {
    font-size: 3rem;
}


/* Card Footer */
.cards .card .card-footer {
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: center;
}

.cards .card .card-footer button {
    background: rgba(98, 225, 235, 0.63);
    border: 1px solid rgba(98, 225, 235, 0.63);
    outline: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
}


@media (max-width: 1000px) {
    .cards {
        grid-template-columns: 1fr; 
    }
}



.scroll .card:nth-child(1) {
    animation: opac 2.5s linear;
    position: relative;
}

.scroll .card:nth-child(2) {
    animation: opac 2s linear;
    position: relative;
}

.scroll .card:nth-child(3) {
    animation: opac 1.5s linear;
    position: relative;
}

@keyframes opac {
    0%{left: -800px; opacity: 0}
    50%{left: -500px}
    100%{left: 0px; opacity: 1}
}

.offScroll {
    animation: opacChange 2s linear;
    position: relative;
}


@keyframes opacChange {
    0%{left: 0px; opacity: 1}
    50%{left: -500px}
    100%{left: -800px; opacity: 0}
}

@media (max-width: 500px) {
    .cards .card h3 {
        font-size: 1.6rem;
    }

    .cards .card {
        width: 250px;
    }

    .cards .card .card-body {
        flex-direction: column;
    }
}